<% for(var i = 0; i < products.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= products[i].name %></td>
    <td><%= products[i].origin %></td>
    <td><%= products[i].price %></td>
    <td><%= products[i].stock %></td>
    <td>
        <a href="/update-product/?id=<%= products[i]._id %>" class="btn btn-outline-success">
            <span><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn btn-outline-danger delete" data-id=<%= products[i]._id %>>
            <span><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>